@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');

body {
  background-color: #111111;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

#header {
  background-color: #111111;
}

#hero {
  background-image: url("https://snipboard.io/cKwD2Y.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

