@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');

body {
  background-color: #111111;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  margin: 0;
}

.cta-button,
.tier-button,
#submit {
  display: inline-block;
  background-color: #5E8B65;
  color: #EAE8E1;

  border: 2px solid #2f4f46;
  border-radius: 6px;

  padding: 8px 18px;

  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size:28px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.8s ease;
}

.cta-button:hover,
.tier-button:hover,
#submit:hover {
  box-shadow: 0 0 12px #5e8b65;
  transform: scale(1.05);
}

.cta-button:active,
.tier-button:active,
#submit:active {
  box-shadow: 0 0 20px #EAE8E1;

  transform: scale(0.98);
}



h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", sans-serif;
  color: #5E8B65;
  font-weight: 400;
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

/* HEADER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 32px;

  background-color: #121212;
  z-index: 1000;
    box-sizing: border-box;
}

/* LOGO */

#header-img {
  width: 100px;
  height: auto;
  display: block;
}

/* NAVIGATION */

#nav-bar {
  display: flex;
  gap: 32px;
}

/* LINKS */

.nav-link {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #EAE8E1;
  text-decoration: none;
}

.nav-link:hover {
  color: #6E8B7B;

}

/* PREVENT HEADER FROM COVERING CONTENT */

body {
  margin: 0;
  padding-top: 100px;

  background-color: #121212;
  color: #EAE8E1;

  font-family: "Manrope", sans-serif;
}

#hero {
  min-height 700px;
  background-image: url("https://snipboard.io/cKwD2Y.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding: 80px 620px;
}

.hero-content {
  max-width: 1200px;
}

#hero h1 {
  font-size: clamp(48px, 8vw, 128px);
  line-height: 0.95;
  color: #5E8B65;
  margin-bottom: 28px;
  text-shadow: -2px 2px 6px rgba(234, 232, 225, 0.45);
}

#hero p {
  font-size: clamp(22px, 3vw, 40px);
  line-height: 1.3;
  color: #EAE8E1;
  max-width: 780px;
  margin-bottom: 32px;
}

/* ABOUT SECTION */

#about {
  padding: 70px 50px 100px;
}

#about::before {
  content: "";
  display: block;
  height: 2px;
  width: 95%;
  max-width: 1500px;
  background-color: #6E8B7B;
  margin: 0 auto 90px;
}

#about h2 {
  background-color: #6E8B7B;
  color: #EAE8E1;
  font-size: clamp(36px, 5vw, 72px);
  line-height: 1;
  text-align: center;
  padding: 32px 40px;
  margin: 0 auto;

  max-width: 1300px;

  text-shadow:
    0 0 6px rgba(47, 79, 70, 0.35),
    0 0 12px rgba(47, 79, 70, 0.2),
    -2px 2px 6px rgba(47, 79, 70, 0.4);
}

#about .two-column {
  max-width: 1300px;
  margin: 0 auto;

  display: flex;
  align-items: flex-start;
  gap: 60px;
}

#about .two-column img {
  width: 50%;
  max-width: 700px;

  border: 22px solid #6E8B7B;
  border-top-width: 0;

  display: block;

  box-shadow: 0 0 16px rgba(110, 139, 123, 0.65);
}

#about .two-column div {
  flex: 1;
  padding-top: 45px;
}

#about p {
  text-wrap: pretty;
  max-width: 550px;
  font-size: clamp(20px, 1.8vw,28px);
  line-height: 3;
  color: #EAE8E1;
  margin: 0;
  padding-top: 0px;
}

/* STORIES SECTION */

#stories {
  padding: 70px 50px 100px;
}

#stories::before {
  content: "";
  display: block;
  height: 2px;
  width: 95%;
  max-width: 1500px;
  background-color: #6E8B7B;
  margin: 0 auto 90px;
}

#stories h2 {
  background-color: #6E8B7B;
  color: #EAE8E1;
  font-size: clamp(36px, 5vw, 72px);
  line-height: 1;
  text-align: center;
  padding: 32px 40px;
  margin: 0 auto;

  max-width: 1300px;

  text-shadow:
    0 0 6px rgba(47, 79, 70, 0.35),
    0 0 12px rgba(47, 79, 70, 0.2),
    -2px 2px 6px rgba(47, 79, 70, 0.4);
}

#stories .two-column {
  display: flex;
  flex-direction: row;

  max-width: 1300px;
  margin: 0 auto;

  align-items: flex-start;
  gap: 60px;
}


#stories .two-column img {
  width: 50%;
  max-width: 700px;

  border: 22px solid #6E8B7B;
  border-top-width: 0;

  display: block;

  box-shadow: 0 0 16px rgba(110, 139, 123, 0.65);
}

#stories .two-column div {
  flex: 1;
  padding-top: 45px;
  padding-left: 50px;
}

#stories p {
  text-wrap: pretty;
  max-width: 560px;

  font-size: clamp(20px, 1.8vw, 28px);
  line-height: 3;

  color: #EAE8E1;

  margin: 0;
  padding-top: 0px;
}


/* MEMBERSHIP TIERS */

#features {
  padding: 70px 50px 100px;
}

#features::before {
  content: "";
  display: block;
  height: 2px;
  width: 95%;
  max-width: 1500px;
  background-color: #6E8B7B;
  margin: 0 auto 90px;
}

#features h2 {
  background-color: #6E8B7B;
  color: #EAE8E1;
  font-size: clamp(36px, 5vw, 72px);
  line-height: 1;
  text-align: center;
  padding: 32px 40px;
  margin: 0 auto 90px;
  max-width: 1300px;

  text-shadow:
    0 0 6px rgba(47, 79, 70, 0.35),
    0 0 12px rgba(47, 79, 70, 0.2),
    -2px 2px 6px rgba(47, 79, 70, 0.4);
}

.feature-grid {
  max-width: 1300px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
}

.feature-card {
  width: 33.33%;
  min-height: 680px;

  background-color: #EAE8E1;
  border: 18px solid #6E8B7B;

  box-shadow: 0 0 16px rgba(110, 139, 123, 0.65);

  display: flex;
  flex-direction: column;
  position: relative;
}

.feature-card::before {
  content: "";
  display: block;
  height: 28px;
  background-color: #EAE8E1;
}

.feature-card-header {
  background-color: #6E8B7B;

  display: flex;
  align-items: center;
  gap: 28px;

  padding: 18px 32px;

  min-height: 120px;
}

.feature-card-header img {
  width: 70px;
  height: auto;
  display: block;
}

.feature-card-header img.flashlight-icon {
  width: 45px;
}

.feature-card-header h4 {
  color: #121212;
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.feature-card-content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  padding: 36px 32px;
}

.feature-card-content h3 {
  color: #121212;
  font-size: 44px;
  margin: 0 0 24px;
}

.feature-card-content ul {
  flex-grow: 1;

  margin: 0 0 40px;
  padding-left: 28px;

  font-family: "Manrope", sans-serif;
  font-size: 26px;
  line-height: 1.45;
}

.feature-card-content li {
  color: #121212;
  margin-bottom: 10px;
}

.tier-button {
  align-self: center;

  background-color: #5E8B65;
  color: #EAE8E1;

  border: 2px solid #2F4F46;
  border-radius: 6px;

  padding: 8px 28px;

  font-family: "Manrope", sans-serif;
  font-size: 28px;
  font-weight: 700;

  text-decoration: none;
  cursor: pointer;
}

/* Package comparison */

/* PACKAGE COMPARISON SECTION */

#data {
  padding: 80px 40px;
}

#data::before {
  content: "";
  display: block;
  height: 2px;
  width: 95%;
  max-width: 1500px;
  background-color: #6E8B7B;
  margin: 0 auto 90px;
}

#data h2 {
  background-color: #6E8B7B;
  color: #EAE8E1;
  font-size: clamp(36px, 5vw, 72px);
  line-height: 1;
  text-align: center;
  padding: 32px 40px;
  margin: 0 auto 90px;

  max-width: 1300px;

  text-shadow:
    0 0 6px rgba(47, 79, 70, 0.35),
    0 0 12px rgba(47, 79, 70, 0.2),
    -2px 2px 6px rgba(47, 79, 70, 0.4);
}
.table-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 18px;
  background-color: #78977f;
  box-shadow: 0 0 12px #78977f;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #d8d8d8;
  color: #244c43;
}

#data-table th,
#data-table td {
  border: 2px solid #111111;
  padding: 18px 20px;
  text-align: left;
  vertical-align: middle;
}

#data-table th {
  font-family: "Bebas Neue", sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #111111;
  text-align: center;
}

#data-table td {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

#data-table td:first-child {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  color: #111111;
}