
body {
  margin: 0;
  background: #ffffff;
  font-family: "Manrope", sans-serif;
}


header {
  background: #000000;
  color: #ffffff;

  padding: 20px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo h2 {
  margin: 0;
  font-family: "Anton", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}


.logo p {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 16px;
  LETTER-SPACING: 1.4PX;
}

.purple-text {
  color: #5B3ACF;
}


nav {
  display: flex;
  gap: 30px;
}


nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 16px;

  transition: 0.3s;
}


nav a:hover {
  color: #9121C6;
}


#hero {
  min-height: 600px;
  background: #ffffff;
  padding-top: 150px;
}


.hero-green-bar {
  background: #94F291;

  height: 150px;
  margin-top: 100px;

  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;

  position: relative;
  display: flex;
  align-items: center;
}


.hero-content {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 2;
}


.hero-accent-box {
  width: 150px;
  height: 260px;
  background: #03D9B0;
  opacity: 0.75;

  position: absolute;
  left: 150px;
  top: -50px;
}


.hero-text {
  margin-left: 260px;
  margin-top: 5px;
}


.hero-text h1 {
  margin: 0;

  font-family: "Anton", sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 58px;

  color: #000000;
}


.hero-text p {
  margin: 0;

  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight:500;
  line-height: 20px;
  letter-spacing: 3px;

  color: #000000;
}


.hero-image img {
  width: 250px;
  display: block;

  margin-right: 150px;
}


.section-divider {
  height: 18px;
  background: #03D9B0;
  margin-top: -10px;
}


#about {
  padding: 100px 50px 250px;

  background-image: url("../assets/images/about-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-title {
  position: relative;

  width: 300px;

  margin-left: 220px;
  margin-bottom: 40px;
}

.title-accent {
  width: 90px;
  height: 175px;

  background: #03D9B0;

  position: absolute;
  left: 0;
  top: -5px;
}

.section-title h2 {
  position: relative;
  z-index: 2;

  margin: 0;

  padding-left: 65px;
  padding-top: 35px;

  font-family: "Anton", sans-serif;
  font-size: 48px;
  line-height: 44px;
}

.about-content {
  max-width: 620px;

  margin-left: 700px;
  margin-top: -180px;
}

.about-content p {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 2;

  margin: 0;
}

.card-frame {
  width: 950px;
  height: 150px;

  margin: 80px auto 0;

  border: 15px solid #000000;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 35px;
}

.info-card-row {
  display: flex;
  justify-content: center;
  gap: 25px;

  margin-top: 0;
}

.info-card {
  width: 230px;
  min-height: 100px;

  padding: 18px;

  border: 4px solid #03D9B0;

  position: relative;
  top: 5px;
}

.education-card {
  background: #9121C6;
  color: #ffffff;
}

.skills-card {
  background: #94F291;
  color: #000000;
}

.interests-card {
  background: #5B3ACF;
  color: #ffffff;
}

.card-icon {
  width: 40px;
  height: 40px;

  display: block;

  margin: 0 auto 15px;
 
  object-fit: contain;
}


.education-card .card-icon {
  width: 80px;
}

.interests-card .card-icon {
  width: 65px;
}


.info-card ul {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  line-height: 1.4;
}

.info-card h3 {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;

  margin-top: 0;
}


#design {
  padding: 100px 50px 120px;
  background: #ffffff;
}

.design-frame {
  width: 825px;

  margin: 135px auto 0;

  padding: 15px;

  background: #9121c6;
}

.design-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.project-card {
  min-height: 280px;
  background: #94F291;

  border: 4px solid #03D9B0;

  padding: 15px;

  text-align: center;
  display: flex;
  flex-direction: column;
}

.project-card img {
  width: 75px;
  height: 75px;

  border-radius: 50%;
  object-fit: cover;

  display: block;
  margin: 0 auto 10px;
}

.project-card h3 {
  font-family: "Anton", sans-serif;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 1px;

  margin: 8px 0;
}

.project-card h3 span {
  color: #5B3ACF;
}

.project-card p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
}


.project-card .soon-text {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  width: fit-content;
  white-space: nowrap;
}


.project-card a,
.project-card .soon-text {
  display: inline-block;

  font-family: "Anton", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;

  color: #000000;
  text-decoration: none;

  border: 4px solid #5B3ACF;
  background: #03D9B0;

  padding: 4px 0;
  margin: auto auto 0;
}

.project-card a {
  width: 95px;
}

.project-card .soon-text {
  width: 150px;
  white-space: nowrap;
}


.design-wrapper {
  position: relative;
}

.design-wireframe {
  position: absolute;

  width: 900px;
  height: 1160px;

  border: 15px solid #000000;

  left: 50%;
  transform: translateX(-50%);

  top: 130px;

  z-index: 1;
}

.design-frame {
  position: relative;
  z-index: 2;
}


#photography {
  padding: 100px 50px 120px;
  background: #ffffff;
}

.photo-wrapper {
  position: relative;
}

.photo-frame {
  width: 825px;

  margin: 135px auto 0;

  padding: 15px;

  background: #9121C6;

  position: relative;
  z-index: 2;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.photo-wireframe {
  position: absolute;

  width: 900px;
  height: 470px;

  border: 15px solid #000000;

  left: 50%;
  transform: translateX(-50%);

  top: 115px;

  z-index: 1;
}